div.page2 section:nth-child(1)
{
	width: 20%;
  	height: 100vh;
  	background-color: rgba(55, 0, 60, 0.9);
  	display: flex;
  	justify-content: flex-end;
  	align-items: center;
}

div.page2 section:nth-child(1) img
{
	margin-right: 32px;
}

div.page2 section:nth-child(2)
{
	width: 80%;
	background-color: #FFF;
	padding: 0 76px;
}

div.page2
{
	display: flex;
	z-index:5;
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	transform: translateX(100%);
	transition-duration: .8s;
}

body
{
	position: relative;
}

div.page2.active
{
	display: flex;
	z-index:5;
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	transform: translateX(0%);
	transition-duration: .8s;
}

div.page2 header img
{
	width: 127.9px;
  	height: 150.5px;
  	margin-right: 74.8px;
}

div.page2 header
{
	padding-top: 80px;
	display: flex;
}

div.page2 header h1
{
	font-family: Roboto;
	font-size: 60px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.07;
	letter-spacing: normal;
	color: #37003c;
	margin-bottom: 16px;
}

div.page2 header p
{
	font-family: Roboto;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.71;
	letter-spacing: normal;
	color: #37003c;
}

div.page2 header p span:first-child
{
	font-weight: bold;
}

div.page2 form
{
	padding: 97.5px 0 16px 0;
}

div.page2 div.classement_container
{
	margin-top: 39px;
}

div.page2 div.classement_header
{
	display: flex;

	font-family: Roboto;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.14;
	letter-spacing: normal;
	color: #37003c;
	margin-bottom: 8px;
}

div.page2 div.classement_header div.picto
{
	text-align: center;
	margin-left: 16px;
	width: 37px;
  	height: 16px;
}

div.page2 div.classement_header div, div.page2 div.classement_content div
{
	width: 135px;
  	margin-right: 30px;
}

div.page2 div.classement_header div.name, div.page2 div.classement_content div.name
{
	margin-right: 113px;
}

div.page2 div.classement_content div.picto span
{
	font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;

    text-align: center;
    color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin:auto;
    transform: translateY(25%);
}

div.page2 div.classement_content div.picto 
{
	position: relative;
	width: 37px;
	height: 32px;

}

div.page2 div.classement_content
{
	padding: 20px 0 20px 16px;
	border-radius: 5px;
  	border: solid 1px #e8e8e8;
  	display: flex;
  	align-items: center;
}

div.page2 div.classement_content div.nationality
{
	display: flex;
	align-items: center;
} 

div.page2 div.classement_content div.nationality img
{
	width: 24px;
  	height: 16px;
  	margin-right: 8px;
}

div.page2 div.classement_content div.name p
{

    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #37003c;
}

div.page2 div.classement_content div p
{
	font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #37003c;
}



