/*background image pour la couronne
margin left auto pour points

pseudo élément avec after pour dégradé

barre verte = pseudo élément

input type text dans un form, button background-image et un border:none
auto-complétion

display : grid

overflow: hidden pour enlever barre de scroll générale;


créer un compte sur l'api, noter les URL, faire une clé coté php
Plusieurs fichiers php possibles : 1 pour equipes, noms, etc...;
1 FICHIER PAR APPEL

quand on a trouvé la requete qu'on veut : clic droit : generer code php;

tester les url dans insomnia (GET)

clé dans header

pour injecter dans html : requete ajax :permet de lancer une requete de maniere asynchrone (contrairement au php). Permet de lancer des requetes sans que le site se recharge : modifier la vue snas recharger le site;

ex : team.php ==> team.js ==> index.html;
quand on clique sur tel element : écouteur d'evenement dans le js qui va appeler le php;

clic droit sur get à gauche : Js, JQuery;
Modifier l'url de l'ajax en localhost.

taper dans google moustache.js pour modele de templating
recuperer un tableau 
boucler 1 seul bloc

externaliser html

faire un tableau dynamique (for each...)
clubs[0]
		[name]
		[logo]
		[id]
	 [1]

appel ajax vers notre template avec comme parametre notre tableau

BIEN LIRE LA DOC DE L API ET DE MOUSTACHE
*/

body
{
	overflow: hidden;
}

.wrap
{
	padding:0 72px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	height: 100%;
}

div.page1
{
	display:flex;
	overflow: hidden;
	z-index: 1;
}

nav div.img_container
{
 	margin-right: 80px;
 	height: 100%;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	position: relative;
}

nav{
	height:140px;
	display: flex;
}

nav div.wrap{
	display: flex;
	width: 100%;
	align-items: center;
}

div.section1_content
{
	border-radius: 20px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	background-color: #FFF;
}

form 
{
    border-bottom: 1px solid #e8e8e8;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0 16px 0;
}

.search_club 
{
  width: 95%;
  height: 64px;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: #e8e8e8;
  border: 0;
}

form input.button
{
	border:none;
	background-image: url(../images/loupe.svg);
	width:32px;
	height: 32px;
	background-color: #FFF;

}

div.page1 section:nth-child(1)
{
	width:70%;
	height: 100vh;
  	overflow: auto;
}

div.square
{
	width: 188px;
	height: 176px;
	border-radius: 10px;
	background-color: #FFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: solid 0.9px rgba(0, 0, 0, 0.15);
	transition-duration: .2s; 
}

div.square:hover
{
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
	border: solid 0.9px rgba(0, 0, 0, 0);
	transition-duration: .2s; 
}

div.square img
{
	width: 40.4px;
	margin-bottom: 8px;
}

div.square p
{
	width: 156px;
	height: 24px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: center;
	color: #37003c;
}

div.grid
{
	margin: 63px 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 16px;
	grid-row-gap: 16px;
}

div.img_container.active:after
{
 	content: '';
 	width: 41px;
 	height: 8px;
 	background-color: #00ff77;
 	display: block;
 	margin-top: 24px;
 	position: absolute;
 	bottom: 0;
}

div.img_container svg path
{
	 fill: #c3b2c4;
}

div.img_container.active svg path
{
	 fill: #00ff77;
}

/*Section 2*/

div.page1 section:nth-child(2)
{
	width: 30%;
	background-image: url("../images/shape-premier-league.svg");
	background-color: #37003c;
	background-position: top 200px right 0;
	background-size: auto 400px;
  	height: 100vh;
  	overflow: auto;
  	background-repeat: no-repeat;
}

div.page1 section:nth-child(2) .wrap
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding:0 85px;
	z-index: 2;
	position: relative;
}

div.page1 header
{
	padding-top: 72px;
}

div.page1 header img
{
	width: 68px;
}

div.page1 div.ranks_container
{
	width: 100%;
	margin-top:-30px;
}

div.page1 div.ranks_container h1
{

	opacity: 0.1;
	font-family: Roboto;
	font-size: 60px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.07;
	letter-spacing: normal;
	color: #FFF;
	margin-bottom: 16px;
}

div.page1 div.rank
{
	border-bottom: 1px solid rgba(255, 255, 455, .1);
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.71;
	letter-spacing: normal;
	color: #FFF;
	font-family: Roboto;
	display: flex;
	align-items: center;
	padding: 8px 0;
	z-index: 3;
}

div.page1 div.rank div.logo img
{
	width: 17px;
}

div.page1 div.rank span
{
	width: 4px;
	height: 4px;
	border-radius: 40%;
	display: block;
	background-color: #FFF;
	margin: 0 10px;
}

div.logo
{
	display: flex;
	align-items: center;
	margin-right: 11px;
}

div.points
{
	margin-left: auto;
}

div.ranks
{
	border-top: 1px solid rgba(255, 255, 455, .1);
}

div.gradient
{
	width: 100%;
	height: 140px;
	background-image: linear-gradient(to top, rgba(55, 0, 60, 1) 0%, rgba(55, 0, 60, 0) 100%);
	position: absolute;
	z-index: 4;
	bottom: 0;
	display: block;
}

